body{
	position: absolute;
	top:50%;
	left:50%;
	transform:translateX(-50%) translateY(-50%);
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position: left top;
	font-family: 'Roboto Mono', monospace;
	font-weight:bold;
}
#container{
	width:940px;
}
#banner{
	height:60px;
	padding:70px;
	letter-spacing: 30px;
	font-size:50px;
	text-align:center;
	color:#cccc00;
	background-color:#0000cc;
	opacity:0.8;
	border-radius:15px;
}
#bannerWyboru{
	height:160px;
	padding:20px;
	color:#cccc00;
	background-color:#0000cc;
	opacity:0.8;
	border-radius:15px;
}
#poster{
	width:450px;
	height:380px;
	padding:10px;
	opacity:0.8;
	float:left;
	background-color:#000000;
	border-radius:15px;
}
#pokemon_image{
	height:300px;
	margin-left:15%;
}
#panel{
	width:430px;
	height:380px;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:40px;
	opacity:0.8;
	float:left;
	background-color:#0066ff;
	border-radius:15px;
}
.symbol{
	margin:5px;
	width:40px;
	height:34px;
	text-align:center;
	padding-top:6px;
	border:2px solid #cccc00;
	color:#cccc00;
	border-radius:15px;
	background-color:#0000cc;
	float:left;
}
.symbol:hover, .buttons:hover{
	background-color:#0000ff;
	color:#ffff66;
	border-color:#ffff66;
	cursor:pointer;
}
.success{
	margin:5px;
	width:40px;
	height:34px;
	text-align:center;
	padding-top:6px;
	border:2px solid #33cc33;
	color:#33cc33;
	border-radius:15px;
	background-color:#000066;
	float:left;
}
.success:hover{
	cursor:default;
}
.fail{
	margin:5px;
	width:40px;
	height:34px;
	text-align:center;
	padding-top:6px;
	border:2px solid #993333;
	color:#993333;
	border-radius:15px;
	background-color:#000066;
	float:left;
}
.fail:hover{
	cursor:default;
}
.reload{
	color:#33cc33;
	font-style:italic;
	cursor:pointer;
}
.buttons{
	margin:5px;
	width:160px;
	height:50px;
	text-align:center;
	padding:10px;
	border:2px solid #cccc00;
	color:#cccc00;
	border-radius:15px;
	background-color:#0000cc;
}
#button_border{
	height:80px;
	background-color:#0000cc;
	opacity:0.8;
	border-radius:15px;
	clear:both;
	padding:10px;
};